:root {
  --main-bg-color: #faf3f0;
  --main-primary: #dbc4f0;
  --main-text-color: #331d2c;
}
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "DMSans-Medium";
  src: url(./assets/font/DMSans-Medium.ttf) format("woff2");
}
@font-face {
  font-family: "shabnam";
  src: url(./assets/font/Shabnam-Medium.ttf) format("woff2");
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "shabnam";
  font-weight: normal;
  font-style: normal;
}
.header-container {
  background-color: #fff;
}
.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart {
  position: relative;
  cursor: pointer;
}
.cart-qty {
  background-color: var(--main-primary);
  border-radius: 100%;
  padding: 0.3rem;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 15px;
  font-size: small;
  color: var(--main-bg-color);
}
button {
  border: 0;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  background-color: var(--main-primary);
  font-family: "shabnam";
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.products-list {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.product-container {
  border: 0;
  width: max-content;
  display: flex;
  background-color: var(--main-bg-color);
  flex-direction: column;
  border-radius: 8px;
  background: #faf3f0;
  box-shadow: 16px 16px 26px #e6e0dd, -16px -16px 26px #ffffff;
}
.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.product-title {
  font-size: large;
  font-weight: 600;
}
.productAdd-btn {
  width: 70%;
  margin: 1rem auto;
}
.product-img {
  background-color: #fff;
  padding: 0 1rem;
  width: 210px;
  height: 260px;
  margin: 0 auto;
  border-radius: 8px 8px 0 0;
}
.product-price {
  font-size: medium;
  font-weight: 700;
  margin-top: -1rem;
}
.productAdd-btn:hover {
  background-color: var(--main-text-color);
  color: #fff;
  transition: all 0.3s;
}

/* modal */
.hidden {
  display: none;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.modal {
  position: absolute;
  width: 500px;
  height: fit-content;
  background-color: var(--main-bg-color);
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem 0;
  z-index: 20;
}
.modal-title {
  display: flex;
  justify-content: center;
  gap: 20rem;
  align-items: center;
  font-size: 30px;
  padding-bottom: 1rem;
}
.modal-close {
  background-color: rgba(255, 0, 0, 0.788);
  color: var(--main-bg-color);
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}
.modal-close:hover {
  background-color: var(--main-text-color);
  transition: all 0.5s;
  transform: rotateY(180deg);
}
.modal-body {
  padding: 1rem 2rem 2rem 2rem;
}
.cart-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-top: 0.5rem;
}
.cart-img {
  border-radius: 10px;
  padding: 0 2rem;
  width: 90px;
  height: 90px;
}
.cart-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.cart-qty-control {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-row-qty {
  background-color: var(--main-primary);
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.item-delete {
  font-size: 26px;
  color: red;
  cursor: pointer;
}
.cart-total {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
  padding: 1rem 0 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}
.cart-btn-container {
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.cart-btn {
  font-size: 1rem;
  padding: 0.7rem 2.5rem;
  font-weight: 600;
}
.clear-cart {
  background-color: transparent;
  border: 1px solid var(--main-primary);
}
.cart-btn:hover {
  background-color: var(--main-text-color);
  color: #fff;
  transition: all 0.3s;
}
/*end modal  */

@media (max-width: 650px) {
  .modal {
    width: 300px;
    padding: 2rem 1rem 0;
  }
  .modal-title {
    gap: 8rem;
    font-size: 24px;
  }
  .modal-close {
    width: 10px;
    height: 10px;
    padding: 0.6rem;
  }
  .cart-row {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  .cart-img {
    border-radius: 5px;
    padding: 0.2rem;
    width: 55px;
    height: 55px;
  }
  .cart-desc {
    font-size: 10px;
  }
  .cart-qty-control {
    font-size: 12px;
  }
  .cart-row-qty {
    padding: 0.1rem 0.3rem;
  }
  .cart-btn-container {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }
  .cart-btn {
    font-size: 12px;
    padding: 0.5rem 1rem;
    font-weight: 500;
  }
}
